@model Bookstore.Models.BookDetails

<h2>Book Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Book Name:</dt>
        <dd class="col-sm-10">@Model.BookName</dd>

        <dt class="col-sm-2">Book Author:</dt>
        <dd class="col-sm-10">@Model.BookAuthor</dd>

        <dt class="col-sm-2">Book Genre:</dt>
        <dd class="col-sm-10">@Model.Genre</dd>

        <dt class="col-sm-2">Book Publisher:</dt>
        <dd class="col-sm-10">@Model.BookPublisher</dd>

        <dt class="col-sm-2">Release Date:</dt>
        <dd class="col-sm-10">@Model.BookReleaseDate.ToString("dd/MM/yyyy")</dd>

        <dt class="col-sm-2">Book Price:</dt>
        <dd class="col-sm-10">£@Model.BookPrice</dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
